### Mitzi Enzastiga - Basics (Oct 2020)

## Strings

**#E.1 Slice the below long string and get the substring 'data'**

In [1]:
s = "Data is a precious thing and will last longer than the systems themselves"

In [4]:
s[0:5]

'Data '

In [3]:
#Sample Output

'Data '

**#E2. Get the number of times data occurs in this sentence**

In [7]:
s = "If we have data, let’s look at data. If all we have are opinions, let’s go with mine"

In [9]:
# Your code
s.count('data')

2

In [7]:
#Output

2

**# E.3. Convert the following string into a list of words**

In [10]:
s = "Continuous learning is the key to success"

In [16]:
# Your code should output a list of words in the above string
s.split()

['Continuous', 'learning', 'is', 'the', 'key', 'to', 'success']

In [10]:
#Output

['Continuous', 'learning', 'is', 'the', 'key', 'to', 'success']

**# E.4 Modify the fact variable below by adding 'not' before 'cool' in the below string**

In [13]:
fact = "Python is cool"

In [15]:
# Your code.  fact should now be "Python is not cool"
fact.replace('is','is not')

'Python is not cool'

In [20]:
s.count('o')

3

In [18]:
## We cannot modify fact, because it is a string and immutable. However, we could replace the world cool with 'not cool'
# but, it will be a different string, not fact

In [14]:
# Output

'Python is not cool'

In [36]:
fact

'Python is cool'

## Lists

**# E.5 Create a list of first 50 even numbers**

In [17]:
# Your code
lnum = list(range(0,100,2))
print(lnum)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### Create a list of square numbers

In [46]:
squares = []
for x in range(1,10):
    squares.append(x**2)

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
doubles = []
for y in range(2,10):
    doubles.append(y*2)

doubles

[4, 6, 8, 10, 12, 14, 16, 18]

In [1]:
circumference = []
for radius in range(1,10):
    circumference.append(radius*2*3.1415)
    
circumference

[6.283,
 12.566,
 18.849,
 25.132,
 31.415000000000003,
 37.698,
 43.981,
 50.264,
 56.547000000000004]

In [2]:
def luna(n):
    return n*n

luna(4)

16

In [51]:
circumference[-1]

56.547000000000004

In [53]:
circumference[3]

25.132

In [55]:
circumference.count(6.283)

1

**# E.6 Fromn the list below, return the frequency of number 8. Hint: Use a list method**

In [18]:
my_list = [8, 81, 3, 4, 4, 10, 95, 9, 8, 5, 8, 13, 20, 35, 45, 55, 4, 9, 8, 88]

In [19]:
# Your code
my_list.count(8)

4

In [20]:
# Output

4

**# E.7 Add 'set' as the last element to the list below**

In [21]:
my_list2 = ['list', 'dictionary', 'tuple']

In [22]:
my_list2.append('set')

In [24]:
my_list2

['list', 'dictionary', 'tuple', 'set']

In [27]:
# Output

SyntaxError: invalid syntax (<ipython-input-27-0317fae81435>, line 2)

In [56]:
my_list2

['list', 'dictionary', 'tuple', 'set']

In [57]:
my_list2.index('tuple')

2

**# E.8 Get unique elements from the list below**

In [30]:
my_list = [3, 4, 2, 8, 9, 9, 2, 5, 7, 11]

In [31]:
# Your code
my_set = set(my_list)
my_set

{2, 3, 4, 5, 7, 8, 9, 11}

In [32]:
# Output
my_list

[3, 4, 2, 8, 9, 9, 2, 5, 7, 11]

**# E.9 Get Unique elements from list 2 that are not in list 1**

In [34]:
list1 = [1,3,4,5,7]
list2 = [1,4,8,3,9,7,6,10]

In [35]:
# Your code
myset1 = set(list1)
myset2 = set(list2)

myset3 = myset2 - myset1
myset3

{6, 8, 9, 10}

In [30]:
# Output

[8, 9, 10, 6]

**# E.10 modify the list below to include all elements except "harley"**

In [59]:
car_list = ["toyota", "bmw", "tesla", "harley", "honda", "Ford"]

In [60]:
# Your code 
car_list.remove('harley')
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [61]:
car_list = ["toyota", "bmw", "tesla", "harley", "honda", "Ford"]

In [62]:
car_list.pop(3)
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [63]:
# Output
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [64]:
car_list = ["toyota", "bmw", "tesla", "harley", "honda", "Ford"]

In [65]:
del car_list[3]  # other ways to remove elements 
car_list

['toyota', 'bmw', 'tesla', 'honda', 'Ford']

In [66]:
car_list.remove("Ford")
car_list

['toyota', 'bmw', 'tesla', 'honda']

## Dictionaries

**E.11 Create a dictionary of 5 keywords (data, money, love, fear, success). values can be a word that first comes to ur mind when you think of this keyword**

In [68]:
my_dict = {'data': 'huge',
 'money': 'important',
 'love': 'son',
 'fear': 'limitation',
 'success': 'belief'}

In [69]:
# Output
my_dict

{'data': 'huge',
 'money': 'important',
 'love': 'son',
 'fear': 'limitation',
 'success': 'belief'}

**E.12 Get only the keys as a tuple from the above dictionary**

In [70]:
my_dict.keys()

dict_keys(['data', 'money', 'love', 'fear', 'success'])

In [74]:
mytuple = tuple(my_dict.keys())

In [75]:
mytuple

('data', 'money', 'love', 'fear', 'success')

In [44]:
# Output

('data', 'money', 'love', 'fear', 'success')

**E.13 Get a list of (key, value) tuple pairs**

In [77]:
# Your code
print(my_dict.items())

dict_items([('data', 'huge'), ('money', 'important'), ('love', 'son'), ('fear', 'limitation'), ('success', 'belief')])

In [3]:
#Output

[('data', 'huge'),
 ('money', 'important'),
 ('love', 'son'),
 ('fear', 'limitation'),
 ('success', 'belief')]

**E.14 Get the value 170 from the dictionary below**

In [78]:
d = {"Sam":{"height":5.8, "weight":250, "chol":280},
     "Liz":{"height":5.3, "weight":100, "chol":180},
     "Robert":{"height":5.5, "weight":140, "chol":170}}

In [79]:
# You code
d['Robert']['chol']

170

In [49]:
# Output

170

**E.15 Update cholestrol value for Liz from 180 to 190**

In [80]:
# Your code
d['Liz']['chol'] = 190
d

{'Sam': {'height': 5.8, 'weight': 250, 'chol': 280},
 'Liz': {'height': 5.3, 'weight': 100, 'chol': 190},
 'Robert': {'height': 5.5, 'weight': 140, 'chol': 170}}

In [51]:
# Output
d

{'Sam': {'height': 5.8, 'weight': 250, 'chol': 280},
 'Liz': {'height': 5.3, 'weight': 100, 'chol': 190},
 'Robert': {'height': 5.5, 'weight': 140, 'chol': 170}}

## Conditionals, loops

**#E.16 Write a program which asks user to enter a number and then tells whether that number is even or odd**

In [86]:
# Your code
usernumber = int(input("Please enter a natural number between 1 and 10: "))

if(usernumber %2 ==0):
    print("Your number is even.")
else:
     print("Your number is odd.")

Please enter a natural number between 1 and 10: 1
Your number is odd.

In [90]:
userstring = input("Please write a word or a sentence: ")
len(userstring)

if(len(userstring)>5):
    print("Word too long.Try again.")
else:
    print("Correct number of characters.")

Please write a word or a sentence: enzastiga
Word too long.Try again.

In [1]:
# Output

Please enter a number: 5

	5 is an odd number

**#E.17 Print the squares of all the elements in the list below**

In [91]:
alist = [1, 2, 3, 4, 5]

In [93]:
# Your code # use a for loop
for i in alist:
    print(str(i*i))

1
4
9
16
25

In [94]:
alist = [1, 2, 3, 4, 5]
list(map(lambda n: n*n, alist))

[1, 4, 9, 16, 25]

In [56]:
# Output

1
4
9
16
25

**#E.18 Get a list of cubes of all the elements in the above list (alist). Do this both with a traditional for loop and also with
     list comprehension**

In [95]:
# # Your code. use traditional for loop
mycubes = []
for i in alist:
    mycubes.append(i*i*i)

print(mycubes)

[1, 8, 27, 64, 125]

In [96]:
# Output

In [97]:
list(map(lambda n: n*n*n, alist))

[1, 8, 27, 64, 125]

In [59]:
# # Your code. Use list comprehension

In [60]:
# Output

[1, 8, 27, 64, 125]

**E.19 Get all the list elements in l2 that are not in l1**

In [3]:
l1 = [1,2,3,4,9]
l2 = [4,5,6,7,8,7,6,4,11,5,8,6,9]

In [99]:
# Your code
set(l2)-set(l1)

{5, 6, 7, 8, 11}

In [62]:
# Output

[5, 6, 7, 8, 7, 6, 11, 5, 8, 6]

**E.20 Adding elements of a list using list comprehension**

In [100]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

In [102]:
# Your code
l3 = [6,8,10,12]
l3

[6, 8, 10, 12]

In [103]:
# Output

In [104]:
mynumbers = tuple(range(1,10))
def mysquares(n):
    return n*n

result = map(mysquares,mynumbers)
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [105]:
tnumbers = tuple(range(1,10))

def circumference(r):
    return r*2*3.14159

lcircumf = []
for i in tnumbers:
    lcircumf.append(circumference(i))

lcircumf

[6.28318,
 12.56636,
 18.849539999999998,
 25.13272,
 31.4159,
 37.699079999999995,
 43.98226,
 50.26544,
 56.54862]

In [106]:
tnumbers = tuple(range(1,10))

def circumference(r):
    return r*2*3.14159

result = map(circumference,tnumbers)

print(list(result))

[6.28318, 12.56636, 18.849539999999998, 25.13272, 31.4159, 37.699079999999995, 43.98226, 50.26544, 56.54862]

In [107]:
mynumbers = tuple(range(1,10))

def mydoublenum(n):
    return 2*n

result = map(mydoublenum,mynumbers)

print(list(result))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [111]:
import array as arr

myarray = arr.array('i', [1,2,3,4])
print(myarray)

array('i', [1, 2, 3, 4])

In [112]:
mynumbers = list(range(1,11))

In [113]:
mynumbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]